/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

body{
  background-color: rgb(27, 26, 32);
  margin: 0;
  margin-left: 1%;
  margin-right: 1%;
  color: #0dff;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
}
.list_top{
  position: absolute;
}
.list_bottom{
  margin-bottom: 32px;
  position: relative;
}
#list_menu{
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  float: left;
  background-color:#363636;
  padding: 20px;
  font-size: 24px;
  display: table;
  table-layout: fixed;
  width: 100%;
  text-align: left;
}
/* #list_menu li{} */
#list_menu a{
  padding-left: 15px;
  padding-right: 15px;
  color: #fff;
  font-weight: 300;
  text-decoration: none;
}
#list_menu a:hover{
  color: #0094ff;
}
#list_menu a:not(:last-child){
  border-right: solid;
  border-width: .5px;
  border-color: #ddd;
}
header{
  padding: 0;
  padding-top: 77px;
  display: flex;
  justify-content:right;
}
/* .icon_image{} */
.face_image{
  width: 400px;
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-right: 210px;
}
.face_image img{
  border-radius: 50%;
  border-style: double;
  border-width: 5px;
  border-color: #0dff;
}
.info{
  margin-left: 16px;
}
.info h1{
  font-weight: normal;
  font-size: 24px;
}
.info p{
  margin-bottom: 16px;
}
.info a{
  margin-left: 4px;
}
.info ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}
.info img{
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
}
aside{
  padding-top: 60px;
}
section{
  background-color: #0d022e;
}
.demo-cont{
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/* .header_menu{} */
#header_list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin: 120px 20px 0;
}
#header_list:not(:first-child){
  margin: 0 20px 0;
}

#header_list li {
  display: table;
  table-layout: fixed;
  width: 220px;
  background-color:#536571;
  padding: 5px 10px 5px 10px;
}

#header_list li:not(:last-child){
  border-right: solid;
  border-width: .5px;
  border-color: #ddd;
}

#header_list li a {
  text-decoration:none;
  color: #fff;
}

#header_list li:hover {
  background-color: #009bc3;
  transition-duration: .5s;
}

#header_list li ul {
  display: none;
  padding: 0;
  z-index: 1;
}

#header_list li:hover ul {
  display: block;
  position: absolute;
  margin-top:5px;
  margin-left:-15px;
}

/* ↓なにこれｗｗｗｗ */
#header_list li:hover ul li {
  float: none;
}

#header_list li:hover ul li a {
  /* background: #fff; */
  padding: 5px 15px 5px 15px;
}

#header_list li:hover ul li a:hover {
  background: #0094ff;
  transition-duration: .5s;
}

#header_list li ul li a {
  display: block;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: .04px;
  line-height: 28px;
  text-decoration-line: none;
  white-space: nowrap;
}
#header_list span{
  font-size: 18px;
}

.search_container{
  box-sizing: border-box;
  display: flex;
}
.search_container input[type="text"]{
  background: #ccddf5;
  border: none;
  height: 35px;
}
.search_container input[type="text"]:focus {
  outline: 0;
}
.search_container input[type="submit"]{
  cursor: pointer;
  font-family: FontAwesome;
  border: none;
  background: #3879D9;
  color: #fff;
  outline : none;
  width: 3.0em;
  height: 37px;
}
.ContentsFrame {
  width: 800px;
  height: 300px;
  border: 1px solid #00ff9d;
  position:relative;
}
.ContentsFrame2{
  border: 1px solid #0094ff;
}
.ContentsFrame3{
  border: 1px solid #fc7608;
}
.ContentsFrame4{
  border: 1px solid #f700ff;
}
.ContentFrame {
  width: 198px;
  height: 98px;
  border: 1px solid #00ff9d;
  background-color:#003300;
  color: #fff;
  transition-duration: .1s;
  transition-timing-function: ease-in-out;
  position: absolute;
}
.ContentFrame2{
  border: 1px solid #0094ff;
  background-color: #06187e;
}
.ContentFrame3{
  border: 1px solid #fc7608;
  background-color: #632e03;
}
.ContentFrame4{
  border: 1px solid #f700ff;
  background-color: #510774;
}
.CCFrameA {
  top: 0;
  left: 0;
  z-index: 0;
}

.CCFrameB {
  top: 0;
  left: 200px;
  z-index: 0;
}

.CCFrameC {
  top: 100px;
  left: 0;
  z-index: 0;
}

.CCFrameD {
  top: 100px;
  left: 200px;
  z-index: 0;
}

.CCFrameE {
  top: 200px;
  left: 0;
  z-index: 0;
}

.CCFrameF {
  top: 200px;
  left: 200px;
  z-index: 0;
}

.CCFrameG {
  top: 0;
  left: 400px;
  z-index: 0;
}
.CCFrameH {
  top: 0;
  left: 600px;
  z-index: 0;
}
.CCFrameI {
  top: 100px;
  left: 400px;
  z-index: 0;
}
.CCFrameJ {
  top: 100px;
  left: 600px;
  z-index: 0;
}
.CCFrameK {
  top: 200px;
  left: 400px;
  z-index: 0;
}
.CCFrameL {
  top: 200px;
  left: 600px;
  z-index: 0;
}
.CCFrameAZoom {
  z-index:10;
  top: 50px;
  left: 100px;
  transform: scale(2.0,2.0);
}

.CCFrameBZoom {
  z-index: 10;
  top: 50px;
  left: 100px;
  transform: scale(2.0,2.0);
}

.CCFrameCZoom {
  z-index: 10;
  top: 50px;
  left: 100px;
  transform: scale(2.0,2.0);
}

.CCFrameDZoom {
  z-index: 10;
  top: 50px;
  left: 100px;
  transform: scale(2.0,2.0);
}

.CCFrameEZoom {
  z-index: 10;
  top: 150px;
  left: 100px;
  transform: scale(2.0,2.0);
}

.CCFrameFZoom {
  z-index: 10;
  top: 150px;
  left: 100px;
  transform: scale(2.0,2.0);
}
.CCFrameGZoom {
  z-index: 10;
  top: 50px;
  left: 500px;
  transform: scale(2.0,2.0);
}
.CCFrameHZoom {
  z-index:10;
  top: 50px;
  left: 500px;
  transform: scale(2.0,2.0);
}
.CCFrameIZoom {
  z-index:10;
  top: 50px;
  left: 500px;
  transform: scale(2.0,2.0);
}
.CCFrameJZoom {
  z-index:10;
  top: 50px;
  left: 500px;
  transform: scale(2.0,2.0);
}
.CCFrameKZoom {
  z-index:10;
  top: 150px;
  left: 500px;
  transform: scale(2.0,2.0);
}
.CCFrameLZoom {
  z-index:10;
  top: 150px;
  left: 500px;
  transform: scale(2.0,2.0);
}
.content-img {
  width:64px;
  height:64px;
}
.ContentFrame p {
  margin-top:0;
  margin-bottom:0;
}
#container{
  display: flex;
}
.container-tw:not(:last-child){
  float: right;
  margin-left: 20px;
}
/* .container-box{} */
.container-box h2{
  text-align: center;
  color: #fff;
}
/* .container-tw */
footer {
  padding: 64px 0;
  background: #323135;
}
.com{
  color: #98969c;
  text-align: center;
}
.my-parts ul{
  display: flex;
  justify-content: center;
}
.my-parts li{
  list-style: none;
}
.my-parts li:not(:first-child){
  padding-left: 150px;
}
.my-parts li a{
  text-decoration: none;
  color: #fff;
}
.Progate_font{
  color: #333;
}